{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Account Setting</title>
        <!-- Google Font Family Link Start -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800">
        <!-- Google Font Family Link End -->
        <!-- Bootstrap Link Start-->
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap-datepicker.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap-slider.css' %}" rel="stylesheet">
        <!-- <link href="{% static 'css/custom.css' %}" rel="stylesheet"> -->
        <!-- Bootstrap Link End-->
        <!-- Iconmoon Link Start-->
        <link href="{% static 'css/iconmoon.css' %}" rel="stylesheet">
        <!-- Iconmoon Link End-->
        <!-- Animate Link Start-->
        <link href="{% static 'css/animate.css' %}" rel="stylesheet">
        <!-- Animate Link End-->
        <!-- Chosen Link Start-->
        <link href="{% static 'css/chosen.css' %}" rel="stylesheet">
        <!-- Chosen Link End-->
        <!-- Swiper Link Start-->
        <link href="{% static 'css/swiper.css' %}" rel="stylesheet">
        <!-- Swiper Link End-->
        <!-- Woocommerce Link Start-->
        <link href="{% static 'css/woocommerce.css' %}" rel="stylesheet">
        <!-- Woocommerce Link End-->
        <!-- Pretty Photo Link Start-->
        <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
        <!-- Pretty Photo Link End-->
        <!-- Daterange Picker Link Start-->
        <link href="{% static 'css/daterangepicker.css' %}" rel="stylesheet">
        <!-- Daterange Picker Link End-->
        <!-- Pretty Photo Link Start-->
        <link href="{% static 'css/jquery.mCustomScrollbar.css' %}" rel="stylesheet">
        <!-- Pretty Photo Link End-->
        <!-- Themes / plugin Link Start-->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/cs-foodbakery-plugin.css' %}" rel="stylesheet">
        <link href="{% static 'css/color.css' %}" rel="stylesheet">
        <link href="{% static 'css/widget.css' %}" rel="stylesheet">
        <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
        <!-- <link href="assets/css/rtl.css" rel="stylesheet"> -->
        <!-- Themes / plugin Link End-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="{% static 'js/modernizr.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        
        {% if 'userHome' in request.path or 'profile' in request.path or 'u_profile' in request.path %}
        <script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_API_KEY}}&libraries=places&callback=initAutoComplete" async defer></script>
        {% endif %}

        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    
        
        <!-- <script src="{% static 'js/custom.js' %}"></script> -->
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
              <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
    
    </head>
{% if 'order_detail' in request.path %}
<body onload="initMap({{order.latitude}}, {{order.longitude}});">
{% else %}    
<body>
{% endif %}    
     
    {% include 'includes/navbar.html' %}

    {% block content%}

    {% endblock %}

    {% include 'includes/footer.html' %}

    <script>
let autocomplete;

function initAutoComplete(){
autocomplete = new google.maps.places.Autocomplete(
    document.getElementById('id_address'),
    {
        types: ['geocode', 'establishment'],
        componentRestrictions: {'country': ['in']},
    })
    //prediction clicked
autocomplete.addListener('place_changed', onPlaceChanged);
}

function onPlaceChanged (){
    var place = autocomplete.getPlace();

    if (!place.geometry){
        document.getElementById('id_address').palceholder = "Start Typing...";
    }
    else{
       
    }
    // console.log(place)

    var geocoder = new google.maps.Geocoder()
    var address = document.getElementById('id_address').value

    geocoder.geocode({'address':address}, function(results, status){
        // console.log('results:',results)
        
        if(status == google.maps.GeocoderStatus.OK){
            // console.log('status:',status)
            var latitude = results[0].geometry.location.lat();
            var longitude = results[0].geometry.location.lng();

            // console.log('lat:',latitude);
            // console.log('lng:',longitude);
            $('#id_latitude').val(latitude);
            $('#id_longititude').val(longitude);
            $('#id_address').val(address);
        }
    });
    //loop through address components and fetch data
    console.log(place)
    for(var i=0; i<place.address_components.length; i++){
        for(var j=0; j<place.address_components[i].types.length; j++){
            //get country
            if(place.address_components[i].types[j] == 'country'){
               $('#id_country').val(place.address_components[i].long_name);
            }
            //get state
            if(place.address_components[i].types[j] == 'administrative_area_level_1'){
               $('#id_state').val(place.address_components[i].long_name);
            }
            //get city
            if(place.address_components[i].types[j] == 'administrative_area_level_3'){
               $('#id_city').val(place.address_components[i].long_name);
            }
            //get pincode
            if(place.address_components[i].types[j] == 'postal_code'){
               $('#id_pin_code').val(place.address_components[i].long_name);
            }else{
               $('#id_pin_code').val(""); 
            }
        }
    } 
} 
    </script>
    <script>
        var x = document.getElementById("location");
        var current_location = sessionStorage.getItem("current_location")
        if(current_location != ""){
            x.value = current_location;
        }
        
        function getLocation() {

          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
          } else { 
            x.innerHTML = "Geolocation is not supported by this browser.";
          }
        }
        
        function showPosition(position) {
        
            var lat = position.coords.latitude
            var lng = position.coords.longitude
            //send ajx req to  googlemap api
            var GOOGLE_API_KEY = "{{GOOGLE_API_KEY}}"
            var url = "https://maps.googleapis.com/maps/api/geocode/json?latlng="+lat+","+lng+"+&key="+GOOGLE_API_KEY
            
            $.ajax({
                url:url,
                type:"GET",
                success:function(response){
                    var current_location = response.results[0].formatted_address
                    x.value = current_location
                    sessionStorage.setItem("current_location", current_location)
                    window.location = '?lat='+lat+'&lng='+lng
                }
            })
        

        }
        </script>
    
    <script src="{% static 'js/responsive.menu.js' %}"></script>
	<script src="{% static 'js/swiper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
	<script src="{% static 'js/chosen.js' %}"></script>
	<script src="{% static 'js/counter.js' %}"></script>
	<script src="{% static 'js/fliters.js' %}"></script>
	<script src="{% static 'js/jquery.fitvids.js' %}"></script>
	<script src="{% static 'js/jquery.growl.js' %}"></script>
	<script src="{% static 'js/jquery.matchHeight-min.js' %}"></script>
	<script src="{% static 'js/masonry.pkgd.js' %}"></script>
	<script src="{% static 'js/skills-progress.js' %}"></script>
	<script src="{% static 'js/bootstrap-slider.js' %}"></script>
	<script src="{% static 'js/wow.js' %}"></script>
	<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
	<script src="{% static 'js/daterangepicker.js' %}"></script>
	<script src="{% static 'js/functions-plugin.js' %}"></script>
	<script src="{% static 'js/functions.js' %}"></script>
</body>
</html>