{% extends 'accounts/base.html' %}
{% load static %}
{% block content %}
{% if vendor_count != 0 %}
    <div style="min-height: 600px;" class="main-section">
        <div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 10px;margin-bottom: 0px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <aside class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                
                            </aside>
                            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                <div class="listing-sorting-holder">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            {% if not vendor_count %}
                                            <h4>Here you find all the top most workshops</h4>
                                            {% else %}
                                            <h4>{{vendor_count}}  Workshops found</h4>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="listing simple">
                                    {% for vendor in vendors %}
                                    <ul>
                                        <li>
                                            <div class="img-holder">
                                                <figure>
                                                    {% if vendor.user_profile.profile_picture %}
                                                    <a href="#"><img src="{{ vendor.user_profile.profile_picture.url }}" class="img-list wp-post-image" alt=""></a>
                                                    {% else %}
                                                    <a href="#"><img src="{% static 'images/vendor icon.jpg' %}" class="img-list wp-post-image" alt=""></a>
                                                    {% endif %}
                                                </figure>
                                                {% if vendor.is_open %}
                                                <span class="restaurant-status open"><em class="bookmarkRibbon"></em>Open</span>
                                                {% else %}
                                                <span class="restaurant-status close"><em class="bookmarkRibbon"></em>Close</span>
                                                {% endif %}
                                            </div>
                                            <div class="text-holder">
                                                <div class="list-rating">
                                                    <div class="">
                                                    </div>
                                                </div>
                                                <div class="post-title">
                                                    <h5>
                                                        <a href="">{{vendor.vendor_name}}</a>
                                                    </h5>
                                                </div>
                                                <span class="">{{vendor.user_profile.address}}</span><br>
                                                {% if vendor.kms %}
                                                    <span><b>{{vendor.kms}}, km</b> away from {{source_location}}</span>
                                                {% endif %}    
                                                
                                            </div>
                                            {% if vendor.is_open %}
                                            <div class="list-option">

                                                <a href="{% url 'service' vendor.id %}" class="viewmenu-btn text-color">Try Out</a>
                                            </div>
                                            {% endif %}
                                        </li>
                                    </ul>
                                    {% endfor %}
                                </div>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
	<!-- <style>
		body {
			background-image: url('https://wallpaperaccess.com/full/676563.jpg');
			background-size: cover;
			height: 100vh;
		}
	</style> -->
  <div style="background-color: rgb(255, 255, 255); width: 100%; height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center; border-top: 1px solid black;">
    <h1 style="text-align: center; margin-bottom: 20px;">NO RESULTS FOUND !</h1>
    <img src="https://st.depositphotos.com/1007989/1634/i/600/depositphotos_16348943-stock-photo-flat-tire-mascot.jpg" alt="Flat tire mascot" style="max-width: 100%; max-height: 80%;">
    <a href="{% url 'myAccount' %}"><button style="margin-top: 50px;" class="btn btn-danger btn-lg">Back</button></a>
  </div>
{% endif %}

{% endblock %}