<div class="user-account-nav user-account-sidebar">
    <div class="user-nav-list">
        <ul>
            <li class="{% if '/accounts/vendor_dashboard/' == request.path or '/accounts/vendor/' == request.path %}active{% endif %}"><a href="{% url 'vendor_dashboard' %}"><i class="icon-dashboard3"></i>Dashboard</a></li>
            <li class="{% if 'profile' in request.path %}active{% endif %}"><a href="{% url 'vprofile' %}"><i class="icon-build"></i>My Workshop</a></li>
            <li class="{% if 'v_orders' in request.path or 'my_orders_detail' in request.path %}active{% endif %}"><a href="{% url 'v_orders' %}"><i class="icon-add_shopping_cart"></i>My Orders</a></li>
            <li class="{% if 'order_bill' in request.path %}active{% endif %}"><a href="{% url 'order_bill' %}"><i class="icon-file-text2"></i>My Bills</a></li>
            <li class="{% if 'opening-hours' in request.path %}active{% endif %}"><a href="{% url 'opening_hours' %}"><i class="icon-build"></i>Opening Hours</a></li>
            <li><a class="logout-btn" href="{% url 'logout' %}"><i class="icon-log-out"></i>Signout</a></li>
        </ul>
    </div>
</div>