{% extends 'accounts/base.html' %}
{% load static %}
{% block content %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_API_KEY}}"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <div style=" padding: 20px; width:95%; min-height: auto; background-color:rgba(200, 198, 217, 0.83); margin: auto; display: flex; flex-direction: column; margin-top: 70px;">
        <br>
        <h1 style="text-align: center;">Service Request Details</h1>
        <br>
        <h4 style="text-align: center;">Service : <b>{{order.service}}</b></h4>
        <h4 style="text-align: center;">Vehicle : <b>{{order.vehicle}}</b></h4>
        <h4 style="text-align: center;">Type : <b>{{order.type}}</b></h4>
        <h4 style="text-align: center;">Model : <b>{{order.model}}</b></h4>
        <h4 style="text-align: center;">Defect : <b>{{order.defect}}</b></h4>
        <h4 style="text-align: center;">Description : <b>{{order.description}}</b></h4>
        <h4 style="text-align: center;">Customer No : <b>{{order.u_phone_number}}</b></h4>
        {% if order.date %}
        <h4 style="text-align: center;">Date for Service: <b>{{order.date}} - {{order.time}}</b></h4>
        {% endif %}
        <h3 style="text-align: center; color: darkblue;">Location</h3>
        <br>
        <div id="map" style="width: 300px; height:300px; margin: auto;"></div>
        </div>
      <div class="row">
        <div class="col-lg-12" style="height: max-content; text-align: center; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; gap: 20px;">
            {% for image in images %}
              <div class="card" style="width: 200px; height: 200px; margin: 15px;">
                <img style="width: 200px; height: 200px; object-fit:contain;" src="{{image.images.url}}" class="card-img-top" alt="">
              </div>
            {% endfor %}
          </div>
      </div>
    </div>
    <div class="row mt-5" style="margin-bottom: 20px;">
        <div class="col-md-12 text-center">
          <a href="{% url 'accept' order.id %}"><button class="btn btn-success">Accept</button></a>
          <a href="{% url 'decline' order.id %}"><button class="btn btn-danger">Decline</button></a>
        </div>
      </div>
      <script>
        function initMap(lat, lng) {
  var myLatLng = {lat: lat, lng: lng};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 8,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map
  });
}
      </script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/
{% endblock %}